n8n/Google Calendar Bidirectional Sync.json
{
  "name": "Google Calendar Bidirectional Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "9ad014c6-1450-4e19-9b1e-5ff89b4970fb",
      "name": "Schedule Trigger (Every 5 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -880,
        112
      ],
      "webhookId": "schedule-trigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync-status",
        "options": {}
      },
      "id": "fdc791a0-5d37-44a3-ac81-f379f6c47e93",
      "name": "Get Staff with Calendar Connections",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -656,
        112
      ],
      "typeVersion": 4.1,
      "notes": "Get list of staff members with active Google Calendar connections"
    },
    {
      "parameters": {
        "jsCode": "// Extract staff IDs from the previous node's output\n// The previous node returns staff members with calendar connections\nconst items = $input.all();\nconst staffData = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract staff_id and other relevant data\n  if (data.staff_id) {\n    staffData.push({\n      json: {\n        staff_id: data.staff_id,\n        calendar_id: data.calendar_id,\n        last_sync_at: data.last_sync_at,\n        sync_direction: data.sync_direction,\n        staff_name: data.staff_name,\n        business_id: data.business_id\n      }\n    });\n  }\n}\n\nreturn staffData;"
      },
      "id": "1c084c7b-8392-41ca-bd6b-8b05ff3d7135",
      "name": "Extract Staff IDs",
      "type": "n8n-nodes-base.code",
      "position": [
        -448,
        112
      ],
      "typeVersion": 2,
      "notes": "Extract staff IDs from calendar connections"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-sync-needed",
              "operator": {
                "type": "date",
                "value": "5 minutes",
                "operation": "olderThan",
                "singleValue": true
              },
              "leftValue": "={{ $json.last_sync_at }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8aedaba7-f5be-4c82-8187-a89710f220f2",
      "name": "Check if Sync Needed",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        112
      ],
      "typeVersion": 2,
      "notes": "Check if last sync was more than 5 minutes ago"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "staff_id",
              "value": "={{ $json.staff_id }}"
            },
            {
              "name": "sync_type",
              "value": "bidirectional"
            },
            {
              "name": "start_date",
              "value": "={{ $now.toISO().split('T')[0] }}"
            },
            {
              "name": "end_date",
              "value": "={{ $now.plus({days: 30}).toISO().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6b20aa5-6962-4bb0-822b-cfb4858bb4d7",
      "name": "Trigger Backend Sync",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        0,
        0
      ],
      "typeVersion": 4.1,
      "notes": "Call backend sync endpoint"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({days: 30}).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "71f2f805-5710-4074-8ae4-f277827e29ba",
      "name": "Get Google Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        224,
        0
      ],
      "typeVersion": 1,
      "notes": "Fetch events from Google Calendar"
    },
    {
      "parameters": {
        "jsCode": "// Process Google Calendar events and convert to database format\nconst events = $input.all();\nconst dbEvents = [];\n\nfor (const event of events) {\n  const item = event.json;\n  \n  // Check if event is from our system (has specific identifier)\n  // or if it's an external event to sync back\n  \n  if (item.start && item.end) {\n    dbEvents.push({\n      calendar_event_id: item.id,\n      summary: item.summary || '',\n      description: item.description || '',\n      start: item.start.dateTime || item.start.date,\n      end: item.end.dateTime || item.end.date,\n      location: item.location || '',\n      status: item.status,\n      source: 'google_calendar'\n    });\n  }\n}\n\nreturn dbEvents.map(event => ({ json: event }));"
      },
      "id": "efd0701d-9be8-4072-b1a6-3c1addca4f39",
      "name": "Process Calendar Events",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        0
      ],
      "typeVersion": 2,
      "notes": "Convert Google Calendar events to database format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync-events",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "staff_id",
              "value": "={{ $('Trigger Backend Sync').item.json.staff_id }}"
            },
            {
              "name": "events",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b95439a8-c43c-4510-beda-45f1b2ff54de",
      "name": "Sync Events to Database",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        0
      ],
      "typeVersion": 4.1,
      "notes": "Push Google Calendar events to database"
    },
    {
      "parameters": {
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync-data",
        "options": {}
      },
      "id": "d5ad1ac9-af39-4e51-842a-a0d2c6af4e76",
      "name": "Get Database Data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        208
      ],
      "typeVersion": 4.1,
      "notes": "Get appointments, time slots, exceptions from database"
    },
    {
      "parameters": {
        "jsCode": "// Process database data and create/update Google Calendar events\nconst dbData = $input.first().json;\nconst calendarEvents = [];\n\n// Process appointments\nif (dbData.appointments) {\n  for (const apt of dbData.appointments) {\n    if (apt.status !== 'cancelled') {\n      const start = new Date(`${apt.appointment_date}T${apt.appointment_time}`);\n      const end = new Date(start.getTime() + (apt.duration_minutes || 30) * 60000);\n      \n      calendarEvents.push({\n        summary: `Appointment: ${apt.customers?.first_name || 'Customer'} ${apt.customers?.last_name || ''}`,\n        description: `Service: ${apt.services?.name || 'N/A'}\\nPhone: ${apt.customers?.phone || ''}\\nNotes: ${apt.notes || ''}`,\n        start: {\n          dateTime: start.toISOString(),\n          timeZone: 'UTC'\n        },\n        end: {\n          dateTime: end.toISOString(),\n          timeZone: 'UTC'\n        },\n        source: 'database',\n        appointment_id: apt.id\n      });\n    }\n  }\n}\n\n// Process time slots (blocked slots)\nif (dbData.time_slots) {\n  for (const slot of dbData.time_slots) {\n    if (slot.is_blocked) {\n      const start = new Date(`${slot.date}T${slot.time}`);\n      const end = new Date(start.getTime() + (slot.duration_minutes || 30) * 60000);\n      \n      calendarEvents.push({\n        summary: 'Blocked Time',\n        description: 'Time slot blocked in system',\n        start: {\n          dateTime: start.toISOString(),\n          timeZone: 'UTC'\n        },\n        end: {\n          dateTime: end.toISOString(),\n          timeZone: 'UTC'\n        },\n        transparency: 'opaque',\n        source: 'database',\n        slot_id: slot.id\n      });\n    }\n  }\n}\n\n// Process availability exceptions\nif (dbData.availability_exceptions) {\n  for (const exc of dbData.availability_exceptions) {\n    if (exc.exception_type === 'closed') {\n      calendarEvents.push({\n        summary: `Unavailable: ${exc.reason || 'Time off'}`,\n        description: exc.reason || 'Staff unavailable',\n        start: {\n          date: exc.exception_date\n        },\n        end: {\n          date: exc.exception_date\n        },\n        transparency: 'opaque',\n        source: 'database',\n        exception_id: exc.id\n      });\n    }\n  }\n}\n\n// Process business closures\nif (dbData.business_closures) {\n  for (const closure of dbData.business_closures) {\n    calendarEvents.push({\n      summary: `Business Closed: ${closure.reason || 'Closure'}`,\n      description: closure.reason || 'Business closed',\n      start: {\n        date: closure.closure_date\n      },\n      end: {\n        date: closure.closure_date\n      },\n      transparency: 'opaque',\n      source: 'database',\n      closure_id: closure.id\n    });\n  }\n}\n\nreturn calendarEvents.map(event => ({ json: event }));"
      },
      "id": "d441b973-2575-49f2-941c-fe70838e02a5",
      "name": "Process Database Data",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        208
      ],
      "typeVersion": 2,
      "notes": "Convert database data to Google Calendar events"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {
          "description": "={{ $json.description }}",
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "8594692c-4ae8-4952-a5a4-d986e22244ed",
      "name": "Create/Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        672,
        208
      ],
      "typeVersion": 1,
      "notes": "Create or update events in Google Calendar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-errors",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.errors }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "00103f57-93c0-4215-af06-a016d97fead4",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        112
      ],
      "typeVersion": 2,
      "notes": "Check if sync had errors"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "staff_id",
              "value": "={{ $('Trigger Backend Sync').item.json.staff_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.success ? 'success' : 'failed' }}"
            },
            {
              "name": "events_synced",
              "value": "={{ $json.events_synced }}"
            },
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9fb28126-c005-4a9d-ae5f-83a755d6afc3",
      "name": "Log Sync Result",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1104,
        0
      ],
      "typeVersion": 4.1,
      "notes": "Log sync result to database"
    },
    {
      "parameters": {
        "content": "Sync completed with errors. Check logs."
      },
      "id": "d057e107-8085-4dc3-98b7-dff7eacea4a8",
      "name": "Notify on Errors",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1104,
        208
      ],
      "typeVersion": 1,
      "notes": "Send notification if errors occurred"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Every 5 min)": {
      "main": [
        [
          {
            "node": "Get Staff with Calendar Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Staff with Calendar Connections": {
      "main": [
        [
          {
            "node": "Extract Staff IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Staff IDs": {
      "main": [
        [
          {
            "node": "Check if Sync Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Sync Needed": {
      "main": [
        [
          {
            "node": "Trigger Backend Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Sync": {
      "main": [
        [
          {
            "node": "Get Google Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Database Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Calendar Events": {
      "main": [
        [
          {
            "node": "Process Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Calendar Events": {
      "main": [
        [
          {
            "node": "Sync Events to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Database Data": {
      "main": [
        [
          {
            "node": "Process Database Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Database Data": {
      "main": [
        [
          {
            "node": "Create/Update Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Events to Database": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Calendar Event": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Log Sync Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81dbb4a4-7957-4cfc-9caf-ede52b3a6912",
  "meta": {
    "instanceId": "6bffb0e0b31b4d744a3d67a5188397c17f15bfefa2e284777375c509005eb35b"
  },
  "id": "ZkQplwjtccGdKYZd",
  "tags": []
}