n8n/Google Calendar Bidirectional Sync.json
{
  "name": "Google Calendar Sync (Complete)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-900, 300],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/calendar/sync-status",
        "options": {}
      },
      "id": "get-staff-connections",
      "name": "Get Staff with Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-680, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem"
      },
      "id": "loop-staff",
      "name": "Loop Each Staff",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [-460, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-staff-id",
              "leftValue": "={{ $json.staff_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-valid-staff",
      "name": "Has Staff ID?",
      "type": "n8n-nodes-base.if",
      "position": [-240, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.calendar_id || 'primary' }}"
        },
        "returnAll": false,
        "limit": 100,
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({days: 30}).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "get-google-events",
      "name": "Get Google Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [0, 100],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process Google Calendar events\n// Filter out events created by our system (to prevent duplicates)\n\nconst events = $input.all();\nconst staffId = $('Has Staff ID?').first().json.staff_id;\nconst externalEvents = [];\n\nfor (const item of events) {\n  const event = item.json;\n  \n  // Skip if no event ID\n  if (!event.id) continue;\n  \n  // Check if this is an event WE created (has our marker)\n  const description = event.description || '';\n  const isOurEvent = description.includes('appointment_id:') || \n                     description.includes('source:ai_receptionist') ||\n                     (event.extendedProperties?.private?.source === 'ai_receptionist');\n  \n  // Skip events we created\n  if (isOurEvent) {\n    continue;\n  }\n  \n  // Skip cancelled events\n  if (event.status === 'cancelled') {\n    continue;\n  }\n  \n  // Extract start/end times\n  let startTime, endTime, isAllDay;\n  \n  if (event.start?.dateTime) {\n    startTime = event.start.dateTime;\n    endTime = event.end?.dateTime || event.start.dateTime;\n    isAllDay = false;\n  } else if (event.start?.date) {\n    startTime = event.start.date;\n    endTime = event.end?.date || event.start.date;\n    isAllDay = true;\n  } else {\n    continue; // Skip if no valid time\n  }\n  \n  externalEvents.push({\n    json: {\n      staff_id: staffId,\n      google_event_id: event.id,\n      summary: event.summary || 'Busy',\n      start: startTime,\n      end: endTime,\n      is_all_day: isAllDay,\n      status: event.status\n    }\n  });\n}\n\n// If no external events, return empty signal\nif (externalEvents.length === 0) {\n  return [{ json: { no_events: true, staff_id: staffId } }];\n}\n\nreturn externalEvents;"
      },
      "id": "filter-external-events",
      "name": "Filter External Events",
      "type": "n8n-nodes-base.code",
      "position": [220, 100],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-events",
              "leftValue": "={{ $json.no_events }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-external-events",
      "name": "Has External Events?",
      "type": "n8n-nodes-base.if",
      "position": [440, 100],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/calendar/block-from-calendar",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"staff_id\": \"{{ $json.staff_id }}\",\n  \"google_event_id\": \"{{ $json.google_event_id }}\",\n  \"start\": \"{{ $json.start }}\",\n  \"end\": \"{{ $json.end }}\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"is_all_day\": {{ $json.is_all_day }}\n}",
        "options": {}
      },
      "id": "block-slots",
      "name": "Block Time Slots",
      "type": "n8n-nodes-base.httpRequest",
      "position": [660, 0],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/calendar/sync-data",
        "qs": {
          "staff_id": "={{ $('Has Staff ID?').first().json.staff_id }}",
          "start_date": "={{ $now.toFormat('yyyy-MM-dd') }}",
          "end_date": "={{ $now.plus({days: 30}).toFormat('yyyy-MM-dd') }}"
        },
        "options": {}
      },
      "id": "get-db-appointments",
      "name": "Get DB Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "position": [0, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Process appointments from database\n// Only sync appointments that haven't been synced yet\n\nconst data = $input.first().json;\nconst appointments = data.appointments || [];\nconst eventsToCreate = [];\n\nfor (const apt of appointments) {\n  // Skip if already synced to Google Calendar\n  if (apt.google_event_id) {\n    continue;\n  }\n  \n  // Skip cancelled appointments\n  if (apt.status === 'cancelled') {\n    continue;\n  }\n  \n  // Build event data\n  const startDateTime = `${apt.appointment_date}T${apt.appointment_time}`;\n  const durationMinutes = apt.duration_minutes || 30;\n  \n  // Calculate end time\n  const startDate = new Date(startDateTime);\n  const endDate = new Date(startDate.getTime() + durationMinutes * 60000);\n  const endDateTime = endDate.toISOString();\n  \n  // Customer name\n  const customerName = apt.customers \n    ? `${apt.customers.first_name || ''} ${apt.customers.last_name || ''}`.trim() \n    : 'Customer';\n  \n  // Service name\n  const serviceName = apt.services?.name || 'Appointment';\n  \n  eventsToCreate.push({\n    json: {\n      appointment_id: apt.id,\n      summary: `${serviceName}: ${customerName}`,\n      description: `appointment_id:${apt.id}\\nsource:ai_receptionist\\nService: ${serviceName}\\nPhone: ${apt.customers?.phone || 'N/A'}\\nNotes: ${apt.notes || ''}`,\n      start: {\n        dateTime: startDateTime,\n        timeZone: 'UTC'\n      },\n      end: {\n        dateTime: endDateTime,\n        timeZone: 'UTC'\n      },\n      staff_id: apt.staff_id\n    }\n  });\n}\n\n// If no events to create, return empty signal\nif (eventsToCreate.length === 0) {\n  return [{ json: { no_appointments: true } }];\n}\n\nreturn eventsToCreate;"
      },
      "id": "filter-unsynced-appointments",
      "name": "Filter Unsynced Appointments",
      "type": "n8n-nodes-base.code",
      "position": [220, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-appointments",
              "leftValue": "={{ $json.no_appointments }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-unsynced-appointments",
      "name": "Has Unsynced?",
      "type": "n8n-nodes-base.if",
      "position": [440, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Has Staff ID?').first().json.calendar_id || 'primary' }}"
        },
        "start": "={{ $json.start.dateTime }}",
        "end": "={{ $json.end.dateTime }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}"
        }
      },
      "id": "create-google-event",
      "name": "Create Google Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [660, 200],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/calendar/mark-appointment-synced",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointment_id\": \"{{ $('Filter Unsynced Appointments').item.json.appointment_id }}\",\n  \"google_event_id\": \"{{ $json.id }}\"\n}",
        "options": {}
      },
      "id": "mark-synced",
      "name": "Mark as Synced",
      "type": "n8n-nodes-base.httpRequest",
      "position": [880, 200],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/calendar/cancelled-appointments",
        "qs": {
          "staff_id": "={{ $('Has Staff ID?').first().json.staff_id }}"
        },
        "options": {}
      },
      "id": "get-cancelled",
      "name": "Get Cancelled Appointments",
      "type": "n8n-nodes-base.httpRequest",
      "position": [0, 500],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "// Process cancelled appointments\nconst data = $input.first().json;\nconst staffId = $('Has Staff ID?').first().json.staff_id;\nconst calendarId = $('Has Staff ID?').first().json.calendar_id || 'primary';\n\n// Handle both array response and single object\nlet appointments = [];\nif (Array.isArray(data)) {\n  appointments = data;\n} else if (data && data.id) {\n  appointments = [data];\n}\n\nif (appointments.length === 0) {\n  return [{ json: { no_cancelled: true } }];\n}\n\nreturn appointments.map(apt => ({\n  json: {\n    appointment_id: apt.id,\n    google_event_id: apt.google_event_id,\n    staff_id: staffId,\n    calendar_id: calendarId\n  }\n}));"
      },
      "id": "filter-cancelled",
      "name": "Filter Cancelled",
      "type": "n8n-nodes-base.code",
      "position": [220, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-cancelled",
              "leftValue": "={{ $json.no_cancelled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "has-cancelled",
      "name": "Has Cancelled?",
      "type": "n8n-nodes-base.if",
      "position": [440, 500],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.calendar_id || 'primary' }}"
        },
        "eventId": "={{ $json.google_event_id }}"
      },
      "id": "delete-google-event",
      "name": "Delete Google Event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [660, 400],
      "typeVersion": 1,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Calendar Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/calendar/mark-appointment-deleted",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointment_id\": \"{{ $('Filter Cancelled').item.json.appointment_id }}\"\n}",
        "options": {}
      },
      "id": "mark-deleted",
      "name": "Mark as Deleted",
      "type": "n8n-nodes-base.httpRequest",
      "position": [880, 400],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "## Google Calendar Bidirectional Sync (Complete)\n\n**What this workflow does:**\n\n1. **Every 5 minutes**, checks all staff with calendar connections\n\n2. **PULL: Google → Database:**\n   - Gets events from Google Calendar\n   - Filters out events WE created (prevents duplicates)\n   - Blocks time slots for external events\n\n3. **PUSH: Database → Google:**\n   - Gets unsynced appointments\n   - Creates Google Calendar events\n   - Marks appointments as synced\n\n4. **DELETE: Cancelled Appointments:**\n   - Gets cancelled appointments with Google event IDs\n   - Deletes events from Google Calendar\n   - Marks as deleted in database\n\n**Setup Required:**\n1. Add Google Calendar OAuth credentials\n2. Set BACKEND_URL environment variable\n3. Connect staff to their Google Calendar in database",
        "height": 480,
        "width": 350
      },
      "id": "sticky-note",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-900, -100],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## PULL: Google → Database\nBlock time slots when staff has personal events",
        "height": 80,
        "width": 350,
        "color": 4
      },
      "id": "note-pull",
      "name": "Note Pull",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## PUSH: Database → Google\nCreate calendar events for new appointments",
        "height": 80,
        "width": 350,
        "color": 6
      },
      "id": "note-push",
      "name": "Note Push",
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 580],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## DELETE: Remove Cancelled\nDelete Google events for cancelled appointments",
        "height": 80,
        "width": 350,
        "color": 2
      },
      "id": "note-delete",
      "name": "Note Delete",
      "type": "n8n-nodes-base.stickyNote",
      "position": [500, 580],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Staff with Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Staff with Calendar": {
      "main": [
        [
          {
            "node": "Loop Each Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Staff": {
      "main": [
        [
          {
            "node": "Has Staff ID?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Each Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Staff ID?": {
      "main": [
        [
          {
            "node": "Get Google Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get DB Appointments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Cancelled Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Calendar Events": {
      "main": [
        [
          {
            "node": "Filter External Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter External Events": {
      "main": [
        [
          {
            "node": "Has External Events?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has External Events?": {
      "main": [
        [
          {
            "node": "Block Time Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DB Appointments": {
      "main": [
        [
          {
            "node": "Filter Unsynced Appointments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unsynced Appointments": {
      "main": [
        [
          {
            "node": "Has Unsynced?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unsynced?": {
      "main": [
        [
          {
            "node": "Create Google Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Event": {
      "main": [
        [
          {
            "node": "Mark as Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cancelled Appointments": {
      "main": [
        [
          {
            "node": "Filter Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Cancelled": {
      "main": [
        [
          {
            "node": "Has Cancelled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cancelled?": {
      "main": [
        [
          {
            "node": "Delete Google Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Google Event": {
      "main": [
        [
          {
            "node": "Mark as Deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "ai-receptionist-calendar-sync-complete"
  },
  "tags": []
}
