n8n/google-calendar-sync-workflow.json
{
  "name": "Google Calendar Bidirectional Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule Trigger (Every 5 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "webhookId": "schedule-trigger"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync-status",
        "options": {}
      },
      "id": "get-staff-list",
      "name": "Get Staff with Calendar Connections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "notes": "Get list of staff members with active Google Calendar connections"
    },
    {
      "parameters": {
        "jsCode": "// Get staff list from database\n// This should query calendar_connections table\n// For now, return sample staff IDs\n\nconst staffIds = [\n  // Add staff IDs here or fetch from database\n];\n\nreturn staffIds.map(staffId => ({\n  json: { staff_id: staffId }\n}));"
      },
      "id": "extract-staff-ids",
      "name": "Extract Staff IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Extract staff IDs from calendar connections"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-sync-needed",
              "leftValue": "={{ $json.last_sync_at }}",
              "rightValue": "",
              "operator": {
                "type": "date",
                "operation": "olderThan",
                "singleValue": true,
                "value": "5 minutes"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-if-sync-needed",
      "name": "Check if Sync Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Check if last sync was more than 5 minutes ago"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "staff_id",
              "value": "={{ $json.staff_id }}"
            },
            {
              "name": "sync_type",
              "value": "bidirectional"
            },
            {
              "name": "start_date",
              "value": "={{ $now.toISO().split('T')[0] }}"
            },
            {
              "name": "end_date",
              "value": "={{ $now.plus({days: 30}).toISO().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-sync",
      "name": "Trigger Backend Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200],
      "notes": "Call backend sync endpoint"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "event",
        "operation": "getAll",
        "calendarId": "={{ $json.calendar_id }}",
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({days: 30}).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "get-google-calendar-events",
      "name": "Get Google Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1340, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-oauth",
          "name": "Google Calendar OAuth2",
          "type": "googleCalendarOAuth2Api",
          "data": {
            "clientId": "YOUR_GOOGLE_CLIENT_ID",
            "clientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
            "scope": "https://www.googleapis.com/auth/calendar"
          }
        }
      },
      "notes": "Fetch events from Google Calendar"
    },
    {
      "parameters": {
        "jsCode": "// Process Google Calendar events and convert to database format\nconst events = $input.all();\nconst dbEvents = [];\n\nfor (const event of events) {\n  const item = event.json;\n  \n  // Check if event is from our system (has specific identifier)\n  // or if it's an external event to sync back\n  \n  if (item.start && item.end) {\n    dbEvents.push({\n      calendar_event_id: item.id,\n      summary: item.summary || '',\n      description: item.description || '',\n      start: item.start.dateTime || item.start.date,\n      end: item.end.dateTime || item.end.date,\n      location: item.location || '',\n      status: item.status,\n      source: 'google_calendar'\n    });\n  }\n}\n\nreturn dbEvents.map(event => ({ json: event }));"
      },
      "id": "process-calendar-events",
      "name": "Process Calendar Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "notes": "Convert Google Calendar events to database format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync-events",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "staff_id",
              "value": "={{ $('Trigger Backend Sync').item.json.staff_id }}"
            },
            {
              "name": "events",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-events-to-db",
      "name": "Sync Events to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 200],
      "notes": "Push Google Calendar events to database"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/sync-data",
        "qs": {
          "staff_id": "={{ $('Trigger Backend Sync').item.json.staff_id }}",
          "start_date": "={{ $now.toISO().split('T')[0] }}",
          "end_date": "={{ $now.plus({days: 30}).toISO().split('T')[0] }}"
        },
        "options": {}
      },
      "id": "get-db-data",
      "name": "Get Database Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 400],
      "notes": "Get appointments, time slots, exceptions from database"
    },
    {
      "parameters": {
        "jsCode": "// Process database data and create/update Google Calendar events\nconst dbData = $input.first().json;\nconst calendarEvents = [];\n\n// Process appointments\nif (dbData.appointments) {\n  for (const apt of dbData.appointments) {\n    if (apt.status !== 'cancelled') {\n      const start = new Date(`${apt.appointment_date}T${apt.appointment_time}`);\n      const end = new Date(start.getTime() + (apt.duration_minutes || 30) * 60000);\n      \n      calendarEvents.push({\n        summary: `Appointment: ${apt.customers?.first_name || 'Customer'} ${apt.customers?.last_name || ''}`,\n        description: `Service: ${apt.services?.name || 'N/A'}\\nPhone: ${apt.customers?.phone || ''}\\nNotes: ${apt.notes || ''}`,\n        start: {\n          dateTime: start.toISOString(),\n          timeZone: 'UTC'\n        },\n        end: {\n          dateTime: end.toISOString(),\n          timeZone: 'UTC'\n        },\n        source: 'database',\n        appointment_id: apt.id\n      });\n    }\n  }\n}\n\n// Process time slots (blocked slots)\nif (dbData.time_slots) {\n  for (const slot of dbData.time_slots) {\n    if (slot.is_blocked) {\n      const start = new Date(`${slot.date}T${slot.time}`);\n      const end = new Date(start.getTime() + (slot.duration_minutes || 30) * 60000);\n      \n      calendarEvents.push({\n        summary: 'Blocked Time',\n        description: 'Time slot blocked in system',\n        start: {\n          dateTime: start.toISOString(),\n          timeZone: 'UTC'\n        },\n        end: {\n          dateTime: end.toISOString(),\n          timeZone: 'UTC'\n        },\n        transparency: 'opaque',\n        source: 'database',\n        slot_id: slot.id\n      });\n    }\n  }\n}\n\n// Process availability exceptions\nif (dbData.availability_exceptions) {\n  for (const exc of dbData.availability_exceptions) {\n    if (exc.exception_type === 'closed') {\n      calendarEvents.push({\n        summary: `Unavailable: ${exc.reason || 'Time off'}`,\n        description: exc.reason || 'Staff unavailable',\n        start: {\n          date: exc.exception_date\n        },\n        end: {\n          date: exc.exception_date\n        },\n        transparency: 'opaque',\n        source: 'database',\n        exception_id: exc.id\n      });\n    }\n  }\n}\n\n// Process business closures\nif (dbData.business_closures) {\n  for (const closure of dbData.business_closures) {\n    calendarEvents.push({\n      summary: `Business Closed: ${closure.reason || 'Closure'}`,\n      description: closure.reason || 'Business closed',\n      start: {\n        date: closure.closure_date\n      },\n      end: {\n        date: closure.closure_date\n      },\n      transparency: 'opaque',\n      source: 'database',\n      closure_id: closure.id\n    });\n  }\n}\n\nreturn calendarEvents.map(event => ({ json: event }));"
      },
      "id": "process-db-data",
      "name": "Process Database Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400],
      "notes": "Convert database data to Google Calendar events"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "event",
        "operation": "create",
        "calendarId": "={{ $('Get Staff with Calendar Connections').item.json.calendar_id }}",
        "additionalFields": {
          "summary": "={{ $json.summary }}",
          "description": "={{ $json.description }}",
          "start": "={{ $json.start }}",
          "end": "={{ $json.end }}",
          "transparency": "={{ $json.transparency }}"
        }
      },
      "id": "create-calendar-event",
      "name": "Create/Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1780, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-oauth",
          "name": "Google Calendar OAuth2",
          "type": "googleCalendarOAuth2Api",
          "data": {
            "clientId": "YOUR_GOOGLE_CLIENT_ID",
            "clientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
            "scope": "https://www.googleapis.com/auth/calendar"
          }
        }
      },
      "notes": "Create or update events in Google Calendar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-errors",
              "leftValue": "={{ $json.errors }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300],
      "notes": "Check if sync had errors"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/calendar/webhook",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "staff_id",
              "value": "={{ $('Trigger Backend Sync').item.json.staff_id }}"
            },
            {
              "name": "status",
              "value": "={{ $json.success ? 'success' : 'failed' }}"
            },
            {
              "name": "events_synced",
              "value": "={{ $json.events_synced }}"
            },
            {
              "name": "errors",
              "value": "={{ $json.errors }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-sync-result",
      "name": "Log Sync Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 200],
      "notes": "Log sync result to database"
    },
    {
      "parameters": {
        "content": "Sync completed with errors. Check logs.",
        "options": {}
      },
      "id": "notify-errors",
      "name": "Notify on Errors",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2220, 400],
      "notes": "Send notification if errors occurred"
    }
  ],
  "connections": {
    "Schedule Trigger (Every 5 min)": {
      "main": [
        [
          {
            "node": "Get Staff with Calendar Connections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Staff with Calendar Connections": {
      "main": [
        [
          {
            "node": "Extract Staff IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Staff IDs": {
      "main": [
        [
          {
            "node": "Check if Sync Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Sync Needed": {
      "main": [
        [
          {
            "node": "Trigger Backend Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Sync": {
      "main": [
        [
          {
            "node": "Get Google Calendar Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Database Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Google Calendar Events": {
      "main": [
        [
          {
            "node": "Process Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Calendar Events": {
      "main": [
        [
          {
            "node": "Sync Events to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Database Data": {
      "main": [
        [
          {
            "node": "Process Database Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Database Data": {
      "main": [
        [
          {
            "node": "Create/Update Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Events to Database": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Calendar Event": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Log Sync Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify on Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-13T00:00:00.000Z",
  "versionId": "1",
  "credentials": {
    "googleCalendarOAuth2Api": {
      "id": "google-calendar-oauth",
      "name": "Google Calendar OAuth2",
      "type": "googleCalendarOAuth2Api",
      "data": {
        "clientId": "YOUR_GOOGLE_CLIENT_ID",
        "clientSecret": "YOUR_GOOGLE_CLIENT_SECRET",
        "scope": "https://www.googleapis.com/auth/calendar",
        "authUrl": "https://accounts.google.com/o/oauth2/auth",
        "accessTokenUrl": "https://oauth2.googleapis.com/token"
      }
    }
  }
}



